body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 2.5em;
  }

  .search-bar {
    text-align: center;
    margin: 20px 0;
  }

  #searchInput {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #searchInput:focus {
    outline: none;
    border-color: #4CAF50;
  }

  #productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }

  .product {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ddd;
  }

  .product:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .product h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .product p {
    color: #777;
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  .product p.price {
    font-weight: bold;
    color: #4CAF50;
    font-size: 1.2em;
  }

  /* Responsif untuk layar kecil */
  @media (max-width: 768px) {
    #searchInput {
      width: 90%;
    }

    .product {
      width: 100%;
      max-width: 300px;
    }
  }

  /* Detail Produk */
  .product-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .product-detail h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
  }

  .product-detail img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
  }